
<% if @product.errors.present? %>
  <ul style="color: blue" align="left">
    <% @product.errors.full_messages.each do |err| %>
    <li><%= err %> </li>
    <% end %>
  </ul>
<% end %>


<div align="left">
<%= form_for [:admin, @product] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :price %>
  <%= f.text_field :price %>

   <%= f.label :image_url %>
  <%= f.text_field :image_url %>

  <%= f.submit "save"%>
    <!-- <%= f.submit "save" %> -->
<% end %>
</div>